@import 'fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'roboto';
  font-weight: 400;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.navbar {
  width: 100%;
  background: #F3EDF7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.navbar-nav,
.navbar-search form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.navbar-btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.navbar-btn img {
  width: 28px;
}
.btn-lang {
  font-size: 20px;
}
.navbar-nav__title {
  font-size: 22px;
  line-height: 28px;
}
.navbar-search form {
  gap: 10%;
}
.navbar-search__input {
  flex-grow: 1;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
}
.navbar-search__input::placeholder {
  font-size: 16px;
  line-height: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px auto;
}
.content-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-top h2 {
  font-size: 22px;
  line-height: 28px;
  color: #323232;
}
.toggle-btn {
  width: 121px;
  height: 56px;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(103, 80, 164, 0.11), rgba(103, 80, 164, 0.11)), #FFFBFE;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  color: #6750A4;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.toggle-btn img {
  width: 24px;
}
.toggle-btn span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.content-items.flex{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.content-items.grid{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap: 24px;
}
.item {
  background: linear-gradient(0deg, rgba(103, 80, 164, 0.05), rgba(103, 80, 164, 0.05)), #FFFBFE;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 16px;
}
.item-top {
  display: flex;
  flex-direction: column;
}
.item-top.row {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.item-top__title {
  color: #1C1B1F;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.item-top__date {
  color: #CAC4D0;
  font-size: 14px;
  line-height: 20px;
}
.item-text {
 font-size: 14px;
 line-height: 20px;
 color: #49454F; 
}
.item-btn {
  display: flex;
  justify-content: flex-end;
}
.item-btn button {
  display: flex;
  align-items: center;
  gap: 11px;
  padding: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.item-btn button img {
  width: 18px;
}
.btn-edit {
  color: #6750A4;
}
.btn-del {
  color: #CF1B1B;
}



